Presentation/Service References/SMS/SmsGateway.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.altiria.net/api/soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" name="SmsGateway" targetNamespace="http://www.altiria.net/api/soap" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.altiria.net/api/soap">
      <xsd:complexType name="Credentials">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="domainId" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="login" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="passwd" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TextMessage">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="msg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="senderId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ack" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="idAck" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dPort" type="xsd:positiveInteger" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sPort" type="xsd:positiveInteger" />
          <xsd:element minOccurs="0" maxOccurs="1" name="encoding" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="concat" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WapPushMessage">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="msg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="senderId" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="url" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ack" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="idAck" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="TextMessageRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="credentials" type="tns:Credentials" />
            <xsd:element minOccurs="1" maxOccurs="100" name="destination" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="message" type="tns:TextMessage" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="WapPushMessageRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="credentials" type="tns:Credentials" />
            <xsd:element minOccurs="1" maxOccurs="100" name="destination" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="message" type="tns:WapPushMessage" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreditRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="1" maxOccurs="1" name="credentials" type="tns:Credentials" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="TextDestination">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="destination" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="status" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="idAck" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WapPushDestination">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="destination" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="status" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="idAck" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="key" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="TextMessageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="status" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="100" name="details" type="tns:TextDestination" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="WapPushMessageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="status" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="100" name="details" type="tns:WapPushDestination" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreditResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="status" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="credit" type="xsd:decimal" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="wapPushMessageResponse">
    <part name="response" element="tns:WapPushMessageResponse" />
  </message>
  <message name="wapPushMessageRequest">
    <part name="request" element="tns:WapPushMessageRequest" />
  </message>
  <message name="textMessageResponse">
    <part name="response" element="tns:TextMessageResponse" />
  </message>
  <message name="textMessageRequest">
    <part name="request" element="tns:TextMessageRequest" />
  </message>
  <message name="creditResponse">
    <part name="response" element="tns:CreditResponse" />
  </message>
  <message name="creditRequest">
    <part name="request" element="tns:CreditRequest" />
  </message>
  <portType name="SmsGatewayPort">
    <operation name="sendSms">
      <input message="tns:textMessageRequest" />
      <output message="tns:textMessageResponse" />
    </operation>
    <operation name="sendWapPush">
      <input message="tns:wapPushMessageRequest" />
      <output message="tns:wapPushMessageResponse" />
    </operation>
    <operation name="getCredit">
      <input message="tns:creditRequest" />
      <output message="tns:creditResponse" />
    </operation>
  </portType>
  <binding name="SmsGatewayBinding12" type="tns:SmsGatewayPort">
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="sendSms">
      <wsoap12:operation soapAction="sendSms" />
      <input>
        <wsoap12:body use="literal" />
      </input>
      <output>
        <wsoap12:body use="literal" />
      </output>
    </operation>
    <operation name="sendWapPush">
      <wsoap12:operation soapAction="sendWapPush" />
      <input>
        <wsoap12:body use="literal" />
      </input>
      <output>
        <wsoap12:body use="literal" />
      </output>
    </operation>
    <operation name="getCredit">
      <wsoap12:operation soapAction="getCredit" />
      <input>
        <wsoap12:body use="literal" />
      </input>
      <output>
        <wsoap12:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="SmsGatewayBinding" type="tns:SmsGatewayPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="sendSms">
      <soap:operation soapAction="sendSms" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sendWapPush">
      <soap:operation soapAction="sendWapPush" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCredit">
      <soap:operation soapAction="getCredit" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SmsGatewayService12">
    <port name="SmsGatewayApi12" binding="tns:SmsGatewayBinding12">
      <soap:address location="http://www.altiria.net/api/ws/soap12" />
    </port>
  </service>
  <service name="SmsGatewayService">
    <port name="SmsGatewayApi" binding="tns:SmsGatewayBinding">
      <soap:address location="http://www.altiria.net/api/ws/testsoap" />
    </port>
  </service>
</definitions>